{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue Sur le Site de URC Roller</h1>


<p>
    test image :<br />
    <img src="http://127.0.0.1/urcroller/public/images/urc.png"style="width: 920px;"  alt="logo" />
    
</p>









{% endblock %}